
@font-face {
  font-family: 'FlandersArtSans-Regular';
  src: url('FlandersArtSans-Regular.eot?#iefix') format('embedded-opentype'),  url('FlandersArtSans-Regular.otf')  format('opentype'),
	     url('FlandersArtSans-Regular.woff') format('woff'), url('FlandersArtSans-Regular.ttf')  format('truetype'), url('FlandersArtSans-Regular.svg#FlandersArtSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
