
@font-face {
  font-family: 'FlandersArtSans-Bold';
  src: url('FlandersArtSans-Bold.eot?#iefix') format('embedded-opentype'),  url('FlandersArtSans-Bold.otf')  format('opentype'),
	     url('FlandersArtSans-Bold.woff') format('woff'), url('FlandersArtSans-Bold.ttf')  format('truetype'), url('FlandersArtSans-Bold.svg#FlandersArtSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
